In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

In [2]:
#load dataset

df = pd.read_csv('Fish.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [4]:
df[['Length1', 'Length2']].describe()

df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

#Notes:

The dataset is dataset on changes in fish length when given special care by fish farmers

**The description of dataset**

- Species = the species of fish
- Weight = fish's weight in gram
- Length1 = the length of fish before treatment (actual length) in centimeter
- Length2 = the length of fish after treatment (cm) in 3 months
- Length3 = the length of fish after treatment (cm) in 6 months
- Height = the height of a fish in centimeter
- Width = the width of a fish in centimeter

We will use Length1 and Length2 to get the before-after treatment difference.

In [5]:
df.shape

(159, 7)

In [6]:
ttest,pval = stats.ttest_rel(df['Length1'], df['Length2'])

print(pval)

8.98060011577915e-76

In [7]:
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis

##### Interpretation

Based on the t-test results, it can be concluded that special care for these fish can affect the length of the fish after treatment.